<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestTheThirdLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04ADF4C31C081BD500DB2F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ADF4DC1C081BD600DB2F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ADF4E71C081BD600DB2F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
